body{
    background-color:#f4f4f9;
    margin: 0;
    padding: 0;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}
/*Formatação do cabeçalho*/
header{
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);

}
main{
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;

}
.apresentacao{
  background-color: #fff;  
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgb(0,0,0,0.3);
}
#botao{
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor:pointer;
    font-size: 16px; 
    transition: background-color 0.3s ease; 

}
#botao:hover{
    background-color: #1e7e34;
}